<section>
    <table border="1">
	<tr>
		<th>Commit</th>
		<th>Author</th>
		<th>Date</th>
	</tr>
		{{#commits}}
			<tr>
				<td>{{message}}</td>
				<td>{{author}}</td>
				<td>{{timestamp}}</td>
			</tr>
    	{{/commits}}
	</table>
</section>