<section>
	{{#commits}}
    	<table border="1">
		<tr>
			<th>Commit</th>
			<th>Author</th>
			<th>Date</th>
		</tr>
		<tr>
			<td>{{message}}</td>
			<td>{{author}}</td>
			<td>{{timestamp}}</td>
		</tr>
		</table>
    {{/commits}}
</section>