<html>
  <head>
    <style>
      table { width:100%;}
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
        text-align: left;
      }
      table tr:nth-child(even) {
        background-color: #eee;
      }
      table tr:nth-child(odd) {
        background-color:#fff;
      }
      table th  {
        background-color: grey;
        color: white;
      }
    </style>
  </head>
   	<link rel="stylesheet" type="text/css" href="tablestyling.css">
   	<body>
    	{{> releaseNoteSummary}}
    	<br/>
      {{> releaseNoteCommitsArray}}
      <br/>
    	{{> releaseNoteFurtherInfo}}
  	</body>
</html>